@charset "utf-8";

body {
  margin: 0;
  padding: 0;
}

.p-about__image {
  width: 500px;
  height: 400px;
  display: block;
  margin-bottom: 20px;
}

.p-about__link {
  display: block;
}